<div class="grid">
    <div class="col">
        <app-filter-component></app-filter-component>
    </div>
    <div class="col">
        <h3 class="font-bold">Performance</h3>
        <div class="grid">
            <div class="col">
                <p-card class="flex flex-column">
                    <h4 class="p-2 text-green-500">Sales $</h4>
                    <app-customers-table [data]="salesData" [columns]="salesColumn"
                        [showCustomerCount]="false"></app-customers-table>
                </p-card>
            </div>
            <div class="col">
                <p-card class="flex flex-column">
                    <h4 class="p-2 text-green-500">Contribution Margin $</h4>
                    <app-customers-table [data]="marginData" [columns]="marginColumn"
                        [showCustomerCount]="false"></app-customers-table>
                </p-card>
            </div>
            <div class="col">
                <p-card class="flex flex-column">
                    <h4 class="p-2 text-green-500">Contribution Margin $</h4>
                    <app-customers-table [data]="marginData" [columns]="marginColumn"
                        [showCustomerCount]="false"></app-customers-table>
                </p-card>
            </div>
        </div>
    </div>
</div>