<p-toolbar class="header">
    <ng-template #start >
        <h3>{{pageTitle}}</h3>
    </ng-template>
    <ng-template #center>
        <!-- <p-iconfield iconPosition="left">
            <p-inputicon styleClass="pi pi-search" />
            <input aria-label="search field" type="text" pInputText placeholder="Search" />
        </p-iconfield> -->
    </ng-template>
    <ng-template #end>
        <p-select [options]="items" (onChange)="updateCurrency()" [(ngModel)]="selectedItem" optionLabel="name" placeholder="Select Currency" class="w-full md:w-56" />
    </ng-template>
</p-toolbar>