<p-toolbar class="header">
    <ng-template #start [style]="{'backgroundColor': 'red'}">
        <h3>Deal Manager</h3>
    </ng-template>
    <ng-template #center>
        <!-- <p-iconfield iconPosition="left">
            <p-inputicon styleClass="pi pi-search" />
            <input aria-label="search field" type="text" pInputText placeholder="Search" />
        </p-iconfield> -->
    </ng-template>
    <ng-template #end>
        <p-splitbutton appendTo="body" label="Save" [model]="items" />
    </ng-template>
</p-toolbar>