.p-input-icon-left .pi-search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; 
}

.p-input-icon-left input {
    padding-left: 35px; 
    position: relative;
    z-index: 0; 
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}
