<p-card class="w-full h-full">
    <h4 class="p-2 font-bold">Search</h4>
    <form [formGroup]="filterForm" class="p-2 grid">
        <div class="col-12 md:col-6 lg:col-4">
            <div class="p-input-icon-left w-full relative">
                <i class="pi pi-search absolute left-2 top-1/2 transform -translate-y-1/2"></i>
                <input aria-label="search" type="text" pInputText formControlName="searchQuery"
                    placeholder="Search by Customer name or area..." class="w-full" />
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <p-select class="w-full"
                [pTooltip]="filterForm.get('businessUnit')?.value?.operatingSegmentName||'All Global Business Units'"
                tooltipPosition="top" formControlName="businessUnit" [options]="businessUnits"
                placeholder="All Global Business Units"></p-select>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <p-select class="w-full" formControlName="businessRegion"
                [pTooltip]="filterForm.get('businessRegion')?.value?.businessRegionName||'All Business Regions'"
                tooltipPosition="top" [options]="businessRegions" placeholder="All Business Regions"></p-select>

        </div>
        <div class="col-12 md:col-6 lg:col-2">
            <p-button label="reset" variant="text" severity="info" (click)="resetFilters()" />
        </div>

    </form>
    <div class="grid">
        <app-customers-table [data]="customers" [columns]="columns" [showCustomerCount]="true" [showHeaderColor]="true"
            [showRowColor]="true"></app-customers-table>
    </div>
</p-card>