<nav class="flex flex-column align-items-center justify-content-between p-3">
    <ul class="flex flex-column gap-3 align-items-center mt-4 list-none p-0">
        @for (item of mainMenu; track $index) {
            <li class="w-full">
                <a pTooltip="{{item.title}}" tooltipPosition="right"   routerLinkActive="active" [routerLink]="item.link" class="flex align-items-center justify-content-center border-circlr w-4rem h-3rem text-decoration-none">
                    <span class=" {{'pi ' + item.icon + ' text-white text-2xl'}}"></span>
                </a>
            </li>
        }
    </ul>
</nav>
