<div class="view-all-container p-3 flex justify-content-end align-items-center border-1 surface-border">
    <span class="text-600 text-sm font-medium cursor-pointer d-flex align-items-center" (click)="resetVisibility()">
        <i class="pi pi-angle-double-left mr-2"></i> View All
    </span>
    <p-badge [value]="3" severity="danger" class="ml-3"></p-badge>
    <div>
        <app-drawer (resetVisible)="resetVisibility()" [visible]="visible"></app-drawer>
    </div>
</div>
<div class="background-image">
    <div class="flex justify-content-center align-items-center">
        <div class="p-2 mt-4 p-message p-message-warning p-component p-flex p-ai-center p-shadow p-p-3 p-border-round">
            <i class="pi pi-exclamation-triangle p-mr-2"></i>
            <span class="custom-warn pl-3">
                <h4 class="p-m-0">Warn</h4>
                <p class="p-m-0">This application will be under maintainence.</p>
            </span>
        </div>
    </div>
    <div class="p-3">
        <div class="grid align-items-center relative p-3 ml-2">
            <div class="col-12 md:col-6 p-5">
                <h3 class="text-lg text-600 p-2">Welcome to FLIP 3.0!</h3>
                <h1 class="text-4xl font-bold text-info p-2">Your All-in-One <br> Pricing Management Solution</h1>
                <p class="text-lg text-600 p-2">Flip is H.B. Fuller's customized pricing tool design to streamline and
                    enhance your
                    pricing management workflow.
                </p>
                <p-card class="border-round-lg p-4 mt-4">
                    <div class="grid">
                        <div class="col-12 md:col-4">
                            <p class="font-semibold text-center">Insert and approve customer quotations</p>

                        </div>
                        <div class="col-12 md:col-4">
                            <p class="font-semibold text-center">Segment customer and materials</p>

                        </div>
                        <div class="col-12 md:col-4">
                            <p class="font-semibold text-center">Monitor profitability with analytics</p>

                        </div>
                    </div>
                </p-card>
            </div>
            <div class="col-12 md:col-6 flex justify-content-center">
                <img src="assets/images/mask-group.png" alt="dashboard-mockup" class=" responsive">
            </div>
        </div>
    </div>
</div>
<div class="p-3">
    <div class="grid">
        <div class="col-12 md:col-8 lg:col-8 p-3 flex align-items-stretch">
            <app-timeline></app-timeline>
        </div>
        <div class="col-12 md:col-4 lg:col-4 p-3 flex align-items-stretch">
            <div class="border-round border-1 surface-border shadow-2 flex align-items-stretch">
                <app-action-item [actionItemHeading]="actionItemHeading" [actionItems]="actionItems"></app-action-item>
            </div>
        </div>
    </div>
</div>
