
.view-all-container{
    background-color:  var(--p-grey-300);
}
.custom-warn{
    display: inline-grid;
}
.background-image {
    background-image: url('../../../assets/images/home-page.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}
@media (max-width: 768px) {
    .custom-warn {
        display: block;
        text-align: center;
    }
    .p-message {
        flex-direction: column;
        align-items: center;
    }
    .p-message i {
        margin-bottom: 10px;
    }
}
