<p-card class="border-round-lg p-4 mt-4 flex justify-content-center align-items-center h-screen">
    <div class="p-4 text-center shadow-2 surface-card">
        <i class="pi pi-spin pi-spinner text-4xl text-primary"></i>
        <h2 class="text-2xl text-600 mt-3">Under Schedule Maintenance</h2>
        <p class="text-500">We are currently performing Scheduled maintainence to improve our services.
            <br/>
            The current section will be available again soon. Thank you for your patience.
        </p>
    </div>
    </p-card>