<p-card class="w-full h-full flex flex-column">
    <h4 class="p-2">Search</h4>
    <form [formGroup]="filterForm" class="p-2 flex gap-2">
        <span class="p-input-icon-left flex-grow-1">
            <i class="pi pi-search"></i>
            <input type="text" pInputText formControlName="searchQuery" placeholder="Search by Customer name or area..."
                class="w-full" />
        </span>
        <p-dropdown class="w-4" formControlName="businessUnit" [options]="businessUnits"
            placeholder="All Global Business Units">
        </p-dropdown>
        <p-dropdown class="w-4" formControlName="businessRegion" [options]="businessRegions"
            placeholder="All Business Regions">
        </p-dropdown>
        <button pButton label="reset" class="p-button-text p-button-sm" (click)="resetFilters()" type="button"></button>
    </form>
    <div class="overflow-auto flex-grow-1 p-2">
        <app-customers-table [data]="customers" [columns]="columns"></app-customers-table>
    </div>
</p-card>