.left-bar{
    width: 140px;
    height: 100vh;
    background-color: var(--p-blue-950);
    position: fixed;
    left: 0;
    top:0
}
.right-bar{
    max-width: calc(100vw - 140px);
    margin-left: 140px;
    margin-top: 61px;
}