<div class="flex justify-content-center align-items-center page-not-found">
    <div class="p-5 text-center shadow-2 border-round-lg surface-card">
        <i class="pi pi-spin pi-spinner text-4xl"></i>
        <h2 class="text-2xl text-600 mt-3 p-3">Under Schedule Maintenance</h2>
        <p class="text-500">We are currently performing Scheduled maintainence to improve our services.
            <br />
            The current section will be available again soon. Thank you for your patience.
        </p>
    </div>
</div>