<p-toolbar class="footer">
    <ng-template #start [style]="{'backgroundColor': 'red'}">
        <p class="ml-2"> © 2025 H.B. Fuller | FLIP | v2025.02.18.2 </p>
    </ng-template>
    <ng-template #center>
        <!-- <p-iconfield iconPosition="left">
            <p-inputicon styleClass="pi pi-search" />
            <input aria-label="search field" type="text" pInputText placeholder="Search" />
        </p-iconfield> -->
    </ng-template>
    <ng-template #end>

    </ng-template>
</p-toolbar>